.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#8c3737;
    padding: 4px 10px;
    transition: 0.2s;
    cursor: pointer;
    
    &:hover{
        background-color: #555;
        transition: 0.2s;
    }

    .cart__text{
        color: #fff;
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
    }
    .cart__count{
        color: #fff;
        margin-left: 10px;
        font-family: 'Roboto', sans-serif;
    }
}

