.header{
    background-color: #777;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    
    .header-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        .header-right{
            display: flex;
        }
    }
}
